* {
    margin: 0;
    padding: 0;
}

html {
    display: block;
}

body {
    background-color: #fff;
}

header {
    font-family: 'Pixelify Sans', sans-serif;
    letter-spacing: .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d9;
    padding: 10px 5px;
}

header img {
    padding-left: 10px;
    width: 82px;
    height: 98px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    unicode-bidi: isolate;
    font-family: "Pixelify Sans";
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 20px;
    position: relative; /* Added position relative */
}

nav .button-one, nav .button-two, nav .button-three {
    color: #fff;
    padding: 4px 4px; /* Adjusted padding for a more button-like appearance */
    border-radius: 10%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: inline-block;
    /* box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2); Shadow to simulate unpressed button */
}

nav .button-one {
    background-color: #3BB273;
    box-shadow: -4px 5px 0 #339963;
}

nav .button-two {
    background-color: #4D9DE0;
    box-shadow: -4px 5px 0 #2f8dda;
}

nav .button-three {
    background-color: #E15554;
    box-shadow: -4px 5px 0 #DA2F2F;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
    height: 100%;
}

nav .button-one:hover, nav .button-two:hover, nav .button-three:hover {
    transform: translateY(5px); /* Simulate button press by moving it down */
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); /* Adjust shadow to simulate pressed button */
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.0);
    cursor: pointer;
    animation: shake 0.5s;
    animation-iteration-count: 2;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(20deg); }
    75% { transform: rotate(-20deg); }
    100% { transform:rotate(0deg); }
}

/* homepage content section */

.inner-container {
    font-family: 'Roboto';
    display: flex;
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.hero-content h1 {
    font-size: 100px;
    margin-bottom: 15px;
    color: #2f8dda;
}

.hero-content h2 {
    font-size: 30px;
    background-color: #bae1ff;
    padding-left: 5px;
}

.hero-content p {
    font-size: 30px;
    background: linear-gradient(to bottom, #bae1ff, #baffc9);
    padding-left: 10px;
}

.icon {
    width: 60px;
    height: 72px;
}

/* media queriess for homepage */

@media only screen and (max-width: 767px) {
    nav ul {
       display: flex;
       flex-direction: row;
       justify-content: center;
    }
    nav li {
       margin-right: 10px;
       margin-bottom: 0;
   }
   nav a {
       font-size: 1.4rem; /* Adjust font size to fit within the display */
        /* Adjust padding to maintain button effect and fit */
   }
   header {
       padding: 10px 5px;
       flex-direction: column;
       align-items: center;
   }
   header img {
       width: 60px;
       height: 72px;
   }
   nav .button-one, nav .button-two, nav .button-three {
       margin: 5px;
       padding: 2px 2px ;
   }

   .hero-content h1 {
       font-size: 50px;
   }
   
   .hero-content h2 {
       font-size: 30px;
   }
   
   .hero-content p {
       font-size: 30px;
   }
   .icon {
    width: 40px;
    height: 42px;
   }
}

@media (min-width: 768px) and (max-width: 1022px){
    header img {
        margin-left: 50px;
    }
}

@media (min-width: 1023px) {
    header img {
        margin-left: 50px;
    }
    nav {
        margin-right: 50px;
    }
    nav a {
        margin-right: 10px;
        font-size: 2rem;
    }
    nav .button-one, nav .button-two, nav .button-three {
        margin: 5px;
        padding: 2px 2px ;
    }
}

/* about-me hero section */

.section-heading {
    padding-top: 4%;
    text-align: center;
}

#section-title {
    display: inline-block;
    font-size: 40px;
    background: linear-gradient(to top, rgb(135, 114, 209) 30%, transparent 50%);
    font-weight: bold;
    font-family: monospace;
    border-radius: 5%;
    letter-spacing: 1px;
}

.about-me-container {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: 5% ;
    align-items: flex-start;
}

.about-box {
    width: 100%;
    margin: 1em;
}

#about-photo {
    width: 360px;
    height: 360px;
    border-radius: 5px;
    border: 2px solid black;
}

#about-0 {
    flex: 1;
} 

#about-0 p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    letter-spacing: 1px;
}

/* about-me skills section */

#about-5 {
    padding: 15px 40px 15px 15px;
    border: 2px solid black;
    padding-top: 20px;
}

#about-5 h3{
    font-size: 30px;
    font-family: 'roboto mono', monospace;
    color: #000;
    text-decoration: underline;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #000;
    font-family: monospace;
    font-size: 20px;
    letter-spacing: 1px;
}

.pulling-left {
    float: left;
    padding-right: 4px;
    margin: auto 0px;
}

.progress{
    background-color: #000;
    width: 100%;
    height: 15px;
    float: right;
    overflow: hidden;
    margin: 5px auto;
    border: 5px double #f4f4f8;
    border-radius: 2%;
}

.html {
    width: 90%;
    animation: html 2s ease-out forwards;
}
.css {
    width: 80%;
    animation: css 2s ease-out forwards;
}
.js {
    width: 50%;
    animation: js 2s ease-out forwards;
}
.py {
    width: 35%;
    animation: py 2s ease-out forwards;
}
.react {
    width: 60%;
    animation: react 2s ease-out forwards;
}

.progress-bar {
    float: left;
    background-color: #5abe62;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    transition: width 0.6s ease;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes py {
    0%{
        width: 0%;
    }
    100%{
        width: 35%;
    }
}

@keyframes react {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}

/* about-me education section */

.unt h3{
    font-size: 30px;
    font-family: 'roboto mono', monospace;
    color: #000;
    text-decoration: underline;
    letter-spacing: 1px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.unt {
    padding-bottom: 10px;
}

/* about-me Achievements section */

#about-2 h3{
    font-size: 30px;
    font-family: 'roboto mono', monospace;
    color: #000;
    text-decoration: underline;
    letter-spacing: 1px;
    padding-bottom: 20px;
    padding-top: 20px;
}

